* {
  min-height: 0;
  min-width: 0;
  font-family: "RecMonoLinearNerdFont", "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: #0d0d0f;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.active {
  background-color: #1a1a1e;
  color: #006bfc;
}

#workspaces button.urgent {
  background-color: #1e1e2e;
  color: #e2003f;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#battery,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
}

#custom-arch {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  color: #00f5c4;
  font-size: 16px;
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #25fcd8;
}

#memory {
  color: #fefa48;
}

#clock {
  color: #ad69ff;
}

#clock.simpleclock {
  color: #2d7cfd;
}

#battery {
  color: #3bfb2b;
}

#window {
  color: #cdd6f4;
  background-color: #006bfc;
}

#pulseaudio {
  color: #7d8efe;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#custom-logo {
  color: #89b4fa;
}

#custom-power {
  color: #f84476;
  padding-right: 1rem;
  padding-left: 0.8rem;
}

tooltip {
  background-color: #181825;
  border: 2px solid #89b4fa;
}