* {
  border: none;
  border-radius: 0;
  font-family: "RecMonoLinear Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

#workspaces {
  background-color: #24283b;
  margin: 5px;
  margin-bottom: 0px;
  border-radius: 30px;
}

#window {
  background-color: #24283b;
  margin: 5px;
  margin-bottom: 0px;
  border-radius: 30px;
  padding: 5px 10px;
  color: #7aa2f7;
}

#workspaces button {
  padding: 5px 10px;
  color: #c0caf5;
}

#workspaces button.active {
  color: #24283b;
  background-color: #7aa2f7;
  border-radius: 30px;
}

#workspaces button:hover {
  background-color: #7dcfff;
  color: #24283b;
  border-radius: 30px;
}

#custom-arch {
  border-radius: 35px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 16px;
  background-color: #7aa2f7;
  color: #24283b;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network {
  background-color: #24283b;
  padding: 5px 10px;
  margin: 5px 0px;
  margin-bottom: 0px;
}

#custom-date {
  color: #7dcfff;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 30px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 5px 10px;
}

#clock {
  color: #b48ead;
  border-radius: 0px 30px 30px 0px;
  margin-right: 5px;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 30px;
}

#network {
  color: #f7768e;
  border-radius: 30px 0px 0px 30px;
}

#pulseaudio {
  color: #e0af68;
}